.signup__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup__form {
    display: flex;
    flex-flow: column wrap;

    padding: 40px;

    width: 37vw;
    max-width: 550px;
    min-width: 400px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 2%;
}

.signup__name {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 15px;
}

.signup__left {
    flex: 1.2
}

.signup__right {
    flex: .8;
}

.signup__fname {
    width: 100%;
}

.signup__lname {
    width: 100%;
}

.btn-primary {
    margin-top: 13px;
}